---
layout: default
title: Grupo de Usuarios de R Almería
---
<div class="row">
    <div class="col-xs-12">
        <p class="center">En <strong>Grupo de Usuarios de R Almería</strong> somos una comunidad creada alrededor del <strong>lenguaje estadístico R</strong> con el objetivo de reunir a profesionales e interesados para compartir conocimientos, organizar eventos, experimentar con R en grupo y mucho más.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Actividades</h3>
		
        <p>En nuestro ánimo de crecer y ayudar a la comunidad de R en Almería, invitamos a personas y entidades a colaborar y asistir a nuestras actividades, de las que estamos seguros que encontrarán interesantes y enriquecedoras.</p>
		
        <h5>Próximas actividades</h5>
		
        {% assign curDate = site.time | date: "%Y-%m-%d" %}
		
        <ul>
            {% for post in site.posts reversed %}
            {% assign date = post.date | date: "%Y-%m-%d" %}
            {% if date >= curDate %}
            <li><span>{{post.date | date_to_string}}</span> &raquo; <a href="{{post.url}}">{{post.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
		
        <a href="{{site.url}}/actividades" class="button">Ver las actividades</a>
    </div>

    <div class="col-md-4">
        <h3>Foro de Grupo de Usuarios de R Almería</h3>
		
        <p>En el Grupo de Usuarios de R Almería colaboramos estrechamente con <a>Hacklab Almería</a> en la realización de eventos y en el apoyo mutuo a la comunidad. Mediante esta colaboración, Hacklab Almería se ofrece para integrar nuestro foro en el suyo propio, y propiciar de esta manera más aún la <strong>polinización cruzada</strong>.</p>
		
		<h5>Últimos Mensajes</h5>
	
		<div id="ultimosmensajes"></div>
		
        <a href="https://foro.hacklabalmeria.net/c/sw-almeria/Usuarios-R" class="button" title="Entrar al foro">Acceso al foro</a>
    </div>	
	
    <div class="col-md-4">
        <h3>Blog del Grupo de Usuarios de R Almería</h3>
		
        <p>Además de en nuestro foro, puedes seguirnos en nuestro blog donde publicaremos el contenido más destacable de forma periódica.</p>
		
        <a href="https://almeriarusers.wordpress.com/" class="button" title="Entrar al blog">Entrar al blog</a>
    </div>
</div>

<script type="text/javascript">
    var discourseUrl = "https://foro.hacklabalmeria.net/"

    function readForoRss(e){
        $.ajax({url:'http://json2jsonp.com/?url='+discourseUrl+'latest.json',
            dataType: 'jsonp',
            success:function(data){
                data = data.topic_list.topics;

                var elemento='<ul>'
                $.each(data,function(index,element){
				
					if (element.category_id == 46) {
						elemento += '<li><a target=_blank href='+discourseUrl + 't/'+ element.slug +'/'+element.id+'>'+element.title+'</a> - '+element.last_poster_username+'</li>';
					}
                });

                elemento+='</ul>';
                $(e).html(elemento);
        }});
    }

    document.addEventListener('DOMContentLoaded', function(event) {
        setInterval(readForoRss('#ultimosmensajes'),30*1000);
    });
</script>