<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- Atom / RSS-->
    <link rel="alternate" type="application/atom+xml" title="Eventos" href="{{site.url}}/atom.xml"/>

    <!-- Basic Page Needs -->
    <title>{% if page.title %}{{page.title}} &#8211; {% endif %}{{site.name}}</title>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
	<!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
	<!-- CSS -->
    <link rel="stylesheet" href="{{site.url}}/css/bootstrap.css">
    <link rel="stylesheet" href="{{site.url}}/css/style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/recursos/favicons/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    {% if page.twittercard %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@AlmeriaRUsers" />
    <meta property="og:url" content="http://{{site.domain}}{{page.url}}" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:image" content="http://{{site.domain}}{{page.thumbnail}}" />
    {% endif %}
</head>

<body>
<div class="container">
    <header>
        <div class="col-md-4 center">
            <img src="{{site.url}}/recursos/logotipo-grupo-usuarios-r-almeria.png" alt="grupo_de_usuarios_de_r" class="logo"/>
        </div>
        <div class="col-md-8">
            <h1>Grupo de Usuarios de R Almería</h1>

            <h3 class="hidden-xs">Comunidad con objetivo de congregar a los usuarios de R en Almería para dar visibilidad y poner en valor todo el talento oculto en nuestra tierra.</h3>
        </div>
    </header>
</div>


<div class="container">
    <ul class="horizontal">
        <li><a href="{{site.url}}/" class="button">Portada</a></li>
        <li><a href="http://foro.hacklabalmeria.net" class="button">Foro</a></li>
        <li><a href="{{site.url}}/actividades" class="button">Actividades</a></li>
		<li><a href="https://almeriarusers.wordpress.com/" class="button">Blog</a></li>
    </ul>
</div>

<div class="container">
    {{content}}
</div>

<footer>
	<div class="container">
		<div class="col-xs-6">
			&COPY; <a href="http://www.indavelopers.com">Indavelopers</a> y respectivos <a href="https://github.com/grupo-usuarios-r-almeria/grupo-usuarios-r-almeria.github.io/graphs/contributors">autores</a> 2015.
			<br>
			&COPY; HackLab Almería y respectivos <a href="https://github.com/HackLab-Almeria/hacklab-almeria.github.io/graphs/contributors">autores</a> (autor original) 2015.
			<br>
			<a href="https://creativecommons.org/licenses/by/4.0/">
				<img style="vertical-align: text-middle;" alt="Attribution 4.0 International (CC BY 4.0)" src="/recursos/CC-by.png"/>
			</a>
		</div>
		
		<div class="col-xs-5 right">
			<a href="https://twitter.com/AlmeriaRUsers" title="Twitter del Grupo de Usuarios de R Almería"><img src="{{site.url}}/recursos/twitter.png" width="30" alt="Twitter del Grupo de Usuarios de R Almería"></a>
			<a href="https://github.com/grupo-usuarios-r-almeria" title="GitHub del Grupo de Usuarios de R Almería"><img src="{{site.url}}/recursos/git.png" width="30" alt="GitHub del Grupo de Usuarios de R Almería"></a>
		</div>
	</div>
</footer>

<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
</body>
</html>